img{
    width: 500px;
    height: 300px;
}
.upper-part{
    margin: 0;
    border: 0;
    background-color: #1F2937;
    display: flex;
    justify-content: space-evenly;
    padding-left: 64px;
    padding-right: 64px;
    padding-bottom: 64px;
}
.right-side{
    display: flex;
    flex-direction: column;

}
li {
    margin: 0;
    border: 0;
    list-style-type: none;
}
.links{
    display: flex;
    justify-content: space-between;

}
.left-side{
    display: flex;
    flex-direction: column;
}
.left-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.header{
   margin-bottom: 64px;

}
.hero-main-text{
    font-size: 48px;
    font-weight: bolder;
    color:#F9FAF8;
}
.hero-sub-text,.header{
    font-size: 18px;
    color: #E5E7EB;
}

a{
    text-decoration: none;
    color: #E5E7EB;
}
.header-logo{
    font-size: 24px;
    color: #F9FAF8;
}
button{
    width: 100px;
    height: 40px;
    background-color: #3882F6;
    border-radius: 10%;
    color:#F9FAF8;
    font-size: 16px;
    font-weight: bold;
}
.sign-up{

    display: flex;
    margin-left: 40px;
}
.wrap-container{
    width: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
}


/*second part*/
.second-part{
    padding: 32px;
}
.container-second-part-images{
    display: flex;
    gap:32px;
    padding: 32px;
    justify-content: center;
    align-items: center;
}

.header-second-part{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}
.images-second-part{
    max-width: 300px;
    max-height: 300px;
}
.bottom-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Third part*/
.third-part{
    display: flex;
    background-color: #E5E7EB;
    justify-content: center;
}
.container-third-part{
    margin: 0;
    border: 0;
    display: flex;
    font-style: italic;
    color:#1F2937;
    font-size: 36px;
    padding: 96px;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    height: 50%;

}
.strongest-avenger{
    display: flex;
    justify-content:right;
    font-weight: bold;
    padding: 64px;
    font-style: normal;
}
.footer{
    margin: 72px;
    display: flex;
    justify-content: center;
}
.container-footer{
    margin: 0;
    border: 0;
    display: flex;    
    background-color: #3882F6;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    padding:32px;
}
.footer-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-text.call{
    font-size: 24px;
    color: #E5E7EB;
}
.footer-text{
    font-size: 16px;
    color: #E5E7EB;
}